<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145480100481-ld98gv3f3lhfeijj2bsdudp3409bfntp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145480100481-ld98gv3f3lhfeijj2bsdudp3409bfntp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145480100481-f66svvk8vk4ku98u4ng3id2u9kurna7m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF5ibmf9XjdQp-NWetQTvBLtGD9e6qYU8</string>
	<key>GCM_SENDER_ID</key>
	<string>145480100481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsail.ApolloArchery</string>
	<key>PROJECT_ID</key>
	<string>apollo-archery-6971f</string>
	<key>STORAGE_BUCKET</key>
	<string>apollo-archery-6971f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145480100481:ios:f82976e9ff5edc578bfb80</string>
</dict>
</plist>